@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-on-background;
  }

  body {
    font-family: Noto Sans, sans-serif;
    @apply font-normal;
    @apply bg-green-container;
    @apply m-0;
  }

  button:focus {
    @apply outline-none;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
